*{
    margin: 0;
    padding: 0;
   }
.cadastrar
{
    position: relative;
    background: rgb(3, 3, 77);
    height: 300px;
    border: 1pt solid gray;
}
.cadastrar
 h2{
text-align: center;
padding: 10px;
color: white;
}
.cadastrar
 a{
    margin: 1px;
}
.cadastrar
 form{
    display: flex;

}

