*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Variable', sans-serif;
}
.header h1{
    color: #80bdde;
    font-weight: 800;
    font-style: italic;
    position: relative;
    left: 180px;
    top: 30px;
    font-size: 25pt;
}
.header img{
    position: relative;
    left: 80px;
    top: -25px;
}
.header-list{
    border-radius: 50px 0px 0px 50px;
    width: 694px;
    height: 90px;
    background: #80bdde;
    display: flex;
    position: relative;
    left: 55%;
    transform: translateY(-132px);
}
.header-list ul{
    display: flex;
    padding: 1px;
    margin: -1px;
    outline: none;
}
.header-list ul li{
    list-style-type: none;
    padding: 40px;    
}
.header ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 11pt;
}
.header ul li:hover{
    background: #80e298;
    border-radius: 50px;
    
}

.banner img{
    width: 390px;
    height: 315px;
    position: absolute;
    left: 150px;
    top: 120px;
}
.banner h2{
    text-align: center;
    margin-left:500px;
    float: none;
    font-weight: bold;
    font-style: italic; 
    color: #4390ba;
    top: -60px;
    font-size: 21pt;
    position: relative;
}
.banner p{
    width: 450px;
    height: 350px;
    position: relative;
    left:55%;
    font-style: italic;
    color: gray;
    font-size: 13pt;
    
}
.barrinha img{
    position: absolute;
    transform: rotateY(180deg);
    width: 1522px;
    height:8px;
}
.sobre{
    margin: 0;
    padding: 0;
    
}
.clinica{
    
    background: #80bdde;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    
}
.clinica h3{
    color: #ffffff;
    text-shadow: 0.2px  0.5px 0px rgb(114, 113, 113);
    font-style: italic;
    text-align: center;
    transform: translateY(30px);
}
.clinica p{
    text-align: left;
    transform: translateY(50px);
    justify-content: center;
    width: 300px;
    left: 50px;
    position: relative;
}
.medicos{
    background: #80bdde;
    top: -390px;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.medicos h3{
    color: #ffffff;
    text-shadow: 0.2px  0.5px 0px rgb(114, 113, 113);
    font-style: italic;
    text-align: center;
    transform: translateY(30px);
}
.medicos p{
    text-align: left;
    transform: translateY(50px);
    justify-content: center;
    width: 300px;
    left: 50px;
    position: relative;
}
.app{
    background: #80E290;
    position: relative;
    top: 200px;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}
.app h3{
    color: #ffffff;
    text-shadow: 0.2px  0.5px 0px rgb(114, 113, 113);
    font-style: italic;
    text-align: center;
    transform: translateY(30px);
}
.app p{
    text-align: left;
    transform: translateY(50px);
    justify-content: center;
    width: 300px;
    left: 50px;
    position: relative;
}
.sobre {
    position: relative;
    text-align: center;
    padding: 1em;
    padding: 10px;
    margin: 20px;
}
.sobre article{
    width: 350px;
    height: 231px;
    padding: 32px;
}
#flex-container{
    display: flex;
    flex-wrap: nowrap;
}
#flex-container > .sobre {
    width: 100px;
    margin: 40px;
    text-align: center;
    font-size: 1.5em;
  }
  .flex{
    position: relative;
    text-align: center;
    padding: 2.8em;
  }
  .flex p{
    color: rgb(255, 255, 255);
    font-family: segoe ui ;
    text-shadow: 0.2px 0.2px 0.1px rgb(59, 59, 59);
    font-size: 11pt;
  }