.list{
   align-items: center;
    position: relative;
    left: 35%;
    
    top: 10px;   
}
._list{
    background: #4d9c55;  
    width: 500px;
}

.list h2{
    color: #4390ba; 
    position: absolute;
    left: 10%;
    top: -10%;    
}
.h2consu{
    color: #4390ba; 
    color: #000;
    left: 10%;
    top: 90%;    
    
}
.th th{
    color: #ffffff;
    left: 80px;
    padding: 5px;
    text-align: center;
    position: relative;  
}
.corpo{
    float: left;
    padding: 10px;
    transform: translateX(90px);
}
.dat{
    font-size: 9pt;   
}
.descri{
    font-size: 9pt;
    transform: translateX(45px);
}
.situ{
    transform: translateX(50px);
}
.list img{
   z-index: -1;
   /* position: absolute;
   left: 35%;
   top: 40%; */
   transform: rotateZ(40deg) translateX(80px);
   width: 141px;
   height: 149px;
    filter: opacity(30%);
   
}
.cadastro{
    position: relative;
    display: inline;
    left: 23%;
}
.cadastro h2{
    color: #4390ba;
    position: relative;
    right: 23%;
}
.cadastro form{
    background: rgb(233, 233, 233);
   
    height: 300px;
    width: 800px;
    text-align: center;
}
.item{
    top: 20px;
    display:flex;
    padding: 10px;
    position: relative;
    left: 18%;
    color: black;
}
.item a{
    font-family: segoe ui;
    position: relative;
    right: 10px;
}
.item input{    
    background:none ;
    color: black;
    height: 20px;
    border: 0 none;
    border-bottom: 2px solid #808080;
    
    outline: none;
}
.item select{
    
    color: rgb(0, 0, 0);
    border-radius: 6px;
    border: 0.25pt solid gray;
}

.agendada{
    background: white;
    color: black;
}
.realizada{
    background: green;
    color: #fff;
}
.cancelada{
    color: #fff;
    background: red;
}

.cadastro button{
    position: relative;
    top: 75px;
    background: #4d9c55;
    height: 30px;
    width: 100px;
    color: white;
    border: 1pt solid #afafaf;
    border-radius: 12px;
}
.cadastro button:active{
    background: #2f5e34;
    
}
.idu{
    position: absolute;
    left: 38%;
}

