.list{
   align-items: center;
    position: relative;
    left: 28%;
    
    top: 10px;   
}
._list{
    background: #4d9c55;  
    width: 800px;
    transform: translateX(-50px);
}
.flex-list{
    width: 300px;
    transform: translateX(-80px);
}
.flex-list-td{
    
    position: relative;
    right: 50%;
}
.list h2{
    color: #4390ba; 
    position: absolute;
    left: 10%;
    top: -10%;    
}

.th th{
    color: #ffffff;
    left: 80px;
    padding: 5px;
    text-align: center;
    position: relative;  
}
.id{
    color: #47994f;
    font-weight: bold;

}
/* .paci{
    transform: translateX(-70px);
}
.medi{
    transform: translateX(-50px);
}
.dat{
    font-size: 9pt;   
    transform: translateX(-10px);
}
.descri{
    font-size: 9pt;
    transform: translateX(45px);
}
.situ{
    transform: translateX(100px);
} */
.list img{
   z-index: -1;
   /* position: absolute;
   left: 35%;
   top: 40%; */
   transform: rotateZ(40deg) translateX(80px);
   width: 141px;
   height: 149px;
    filter: opacity(30%);
   
}
.cadastro{
    position: relative;
    display: inline;
    left: 23%;
}
.cadastro h2{
    color: #4390ba;
    position: relative;
    right: 23%;
}
.cadastro form{
    background: rgb(233, 233, 233);
   
    height: 300px;
    width: 800px;
    text-align: center;
}
.item{
    top: 20px;
    display:flex;
    padding: 10px;
    position: relative;
    left: 18%;
    color: black;
}
.item a{
    font-family: segoe ui;
    position: relative;
    right: 10px;
}
.item input{    
    background:none ;
    color: black;
    height: 20px;
    border: 0 none;
    border-bottom: 2px solid #808080;
    
    outline: none;
}
.item select{
    width: 80px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    border: 0.25pt solid gray;
}
.especialidade{
    position: relative;
    top: 20px;
    right: 40px;
    
}
.agendada{
    background: white;
    color: black;
}
.realizada{
    background: green;
    color: #fff;
}
.cancelada{
    color: #fff;
    background: red;
}

.cadastro button{
    position: relative;
    top: 75px;
    background: #4d9c55;
    height: 30px;
    width: 100px;
    color: white;
    border: 1pt solid #e7e7e7;
    border-radius: 12px;
}
.cadastro button:active{
    background: #2f5e34;
    box-shadow: 1px 1px #4d9c55;
}
.idu{
    position: absolute;
    left: 38%;
}
.titulo h2{
    color: #4390ba;
}
#campo-editar{
    width: 600px;
    background: #f1f1f1;
  
}
#campo-editar h2{
    color: black;
    
}
#campo-editar button{
    background: #000;
    width: 150px;
    height: 50px;
    color: #fff;
    left: 300px;
    position: relative;
}
.edit li{
    list-style-type: none;
  
}
.edit li a{
    text-decoration: none;
    color: #2f5f79;
    background: rgb(243, 243, 243);
}
.corpolista{
    display: inline;
}
.listtype{
    text-align: center;
    position: relative;
    left: 400px;
    width: 700px;    
}
.pad{
    padding: 10px 10px;
    transform: translateX(-40px);
}
